# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Flask-related
instance/
.webassets-cache

# Pytest cache
.cache/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE-related files
.vscode/
.idea/
*.swp  # vim

# Logs
*.log

# Temporary files
*.bak
*.swp
*.swo

# Encrypted image files
*.enc

# Temporary directory for uploads and processed images
temp/*
!temp/.gitkeep

# Local environment configuration (like environment variables)
.env
